*{ 
    font-family: sans-serif;
    line-height: 1.68em;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #555;   
    
}

a{color:#009;    
}

html{
        font-size: 16px;
        margin-top: 3em;
        background-color:#ddd;
        

}

h1,h2,h3{
    color: #555;
}
 
main{
    margin: 3em;    
    max-width: 100%;
    background-color: #ddd;
}
footer{
    margin: 0 auto;    
    max-width: 100%;
}


header{
        padding:3em;
        margin: 0;
        text-align-last: left;
        background-image: url(./images/aspenTrees.jpg);
        background-repeat:no-repeat;
        background-size: cover;

}

header img{
    border: 1px solid #222;

}   


header h1{
    font-size: 3em;
    color: #fff;
}


header span{
            font-size: 1.5em;
            color:#555;

}


nav{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    display: flex;
    flex-flow: row-reverse;
    justify-content:left;
    background: #333;
    margin-bottom: 0;

}

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color:#ddce00;
    
}
nav a:hover{
    background: #ddce00;
    color: #222;
}

section{
    margin: 1em 0;
    padding-top: 3em;
    min-height: 20em;
    
}

section > p {
    margin: 1em 0;
}
section ul{
    padding-left: 1.5em;
}

#projects{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 1em;
}

#projects article{
    background: #aaa;
    padding: 1em;
}

#projects article img{
    width: 100%;
    border: 1px solid #f00;
}


footer{
    max-width: width 800px;
    margin-top:2em;
    margin-bottom: 1em;
    background: #222;
    color: #ddce00; 
    padding: 1em 0;
    text-align: center;
   
   
}


